<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--List of secret env vars and their values-->
			<BASEURL>https://www.edgewordstraining.co.uk/demo-site</BASEURL>
			<USERNAME>harry.williams@nfocus.co.uk</USERNAME>
			<PASSWORD>Passforex1</PASSWORD>
			<BROWSER>firefox</BROWSER>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>